@import url('http://fonts.cdnfonts.com/css/gill-sans');
.FooterLinks{
      font-family: 'Gill Sans', sans-serif;
      font-size: 5vmin;
      padding-left:20%;
      padding-right:20%;
      margin-top: 1vh;
      margin-bottom: 1vh;
  }
  .LinkedIn{
    padding-right: 5vw;
  }